.env
.node_modules
dist
coverage
.vscode
*.log
*.tsbuildinfo
*.d.ts
*.js
*.js.map
*.ts.map
*.json
*.md
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test          